<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" />
    <title>ShortUrl</title>
  </head>
  <body>
    <h1>Your short Url</h1>
    <div class="urlCopy">
      <h2>{{shortUrl}}</h2>
      <button onclick="copyText()"><a href="/">Copy</a></button>
    </div>

    <style>
      h1{ margin: auto; width: 50%; padding: 10px } .urlCopy{ margin: auto;
      width: 50%; padding: 10px; flex-direction: row; } a{ text-decoration:
      none; color: black; }
    </style>
  </body>
</html>