<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>ShortUrl</title>
  </head>
  <body>
    <h1 class="shortUrl-h1">Your url</h1>
    <div class="urlCopy">
      <h2><textarea id="content">{{url}}</textarea></h2>
      <button onclick="copyToClipboard()"><a href="/">copy</a></button>
    </div>
    <script>
     function copyToClipboard() {
    var copyText = document.getElementById("content").value;
    navigator.clipboard.writeText(copyText).then(() => {
        // Alert the user that the action took place.
        // Nobody likes hidden stuff being done under the hood!
        alert("Copied to clipboard");
    });
  }
    </script>
  </body>
</html>